<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, 
        maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChoreBoard</title>
</head>
<body>
    <h1>Chore Board</h1>
    <div id="choreboard">
        <table border="1">
            <thead>
                <th>Name</th>
                <th>Chore this week</th>
            </thead>
            <tbody>
                {{range .}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Chore}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <p><a href=".">back</a></p>
</body>
</html>