<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, 
        maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>20 Sussex St.</title>
</head>
<body>
    <h1>Welcome to 20 Sussex St.</h1>
    <div>
        <table border="10">
            <tbody>
                <tr>
                    <td><a href="/chores">Chore Board</a></td>
                    <td><a href="/view/grocery-list">Grocery List</a></td>
                </tr>
                <tr>
                    <td><a href="/movies-to-watch">Movies to watch</a></td>
                    <td><a href="/about">About us</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
